<div class="row">
    <div col-lg-5>
        <h1 class="title" class="col-lg-3">Create a New Post</h1>
    </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form>
            <fieldset class="form-group">
                <label for="title">Title</label>
                <input type="text" class="form-control" id="title" ng-model="cm.title">
            </fieldset>
            <fieldset class="form-group">
                <label for="description">Description</label>
                <textarea ng-model="cm.description" class="form-control" id="description" style="height: 180px;"></textarea>
             </fieldset>
            <fieldset class="form-group">
                <div class="input-group tags-edit">
                    <span class="input-group-addon">Tags</span>
                    <tags-input ng-model="cm.tags" class="ti-input-sm">
                        <auto-complete source="cm.loadTags($query)"></auto-complete>
                    </tags-input>
                </div>
            </fieldset>
            <div ng-if="!cm.imgur_uploaded">
                <fieldset class="form-group">
                    <button type="button" class="btn btn-default" ng-click="cm.openImgurModal()">Add Image</button>
                </fieldset>
            </div>
            <div ng-if="cm.imgur_uploaded">
                <a ng-href="" ng-click="cm.openImgurLink()"> {{cm.imgur_link}} </a>
            </div>
            <input type="submit" class="btn btn-info" ng-click="cm.createPost()" value="Create Post" />
        </form>
    </div>
    <div class="col-lg-2"></div>
</div>