

<p class="pad"> &nbsp;</p>
   <div class="container-fluid">
    <p class="pad"> &nbsp;</p>   
<div id="wrapper" class="clear">
<div class="row">
        <p class="pad"> &nbsp;</p>  
    <div class="full-red2">
        <center> <h1 class="title" class="col-lg-3"><font color="white">Create a New Post</font></h1> </center>
    </div>
</div>
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <form>
            <fieldset class="form-group">
                <label for="title"><font size="4px" class="title">Title</font></label>
                <input type="text" class="form-control" id="title">
            </fieldset>
            <fieldset class="form-group">
                <label for="description"><font size="4px" class="title">Description</font></label>
                <textarea class="form-control" id="description" style="height: 180px;"></textarea>
             </fieldset>
            <fieldset class="form-group">
                <div class="input-group tags-edit">
                    <span class="input-group-addon"><font class="title">Tags</font></span>
                    <tags-input ng-model="cm.tags" class="ti-input-sm">
                        <auto-complete source="cm.loadTags($query)"></auto-complete>
                    </tags-input>
                </div>
            </fieldset>
            <fieldset class="form-group">
                <button type="button" class="btn btn-default" ng-click="cm.openImgurModal()"><font class="title">Add Image</font></button>
            </fieldset>
            
          <button type="button" class="btn btn-block btn-info" ng-click=""><font size ="6px"class="title">SUBMIT</font></button>
        </form>
    </div>
    </div>
    </div>
    <div class="col-lg-2"></div>
</div>
