<nav class="navbar navbar-inverse navbar-fixed-top center ">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" ng-init="navCollapsed = true" ng-click="navCollapsed = !navCollapsed">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="index.html"><img src="/static/media/img/logo/logo.png" alt="logo"></a>
        </div>
        <div class="navbar-inner">
            <ul class="nav navbar-nav ">
            </ul>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="navCollapsed">
                <ul class="nav navbar-nav navbar-right">
                    <li >
                        <a href="#">
                            <i class="fa fa-home fa-lg"></i> 
                            <font face="Roboto"> Home </font>
                        </a>
                    </li>
                    <li class="dropdown" uib-dropdown on-toggle="toggled(open)">
                        <a href="#" class="dropdown-toggle icon-container" uib-dropdown-toggle>
                            <img class="img-rounded profile-image" height="45px" width="45px" alt="Brand" ng-src="{{vm.profile_picture}}">
                            &nbsp; <font face="Roboto">{{vm.name}} </font>&nbsp;
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>
                                <a href="#" ng-click="">
                                     <i class="fa fa-user "></i>&nbsp; Profile
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-click="">
                                     <i class="fa fa-plus "></i>&nbsp; Create Post
                                </a>
                            </li>
                            <li>
                                <a href="#" ng-click="vm.logout()">
                                     <i class="fa fa-sign-out "></i>&nbsp; Logout
                                </a>
                            </li>
                            
                        </ul>
                    </li>
                </ul>
            <form class="navbar-form">
                <div class="form-group" style="display:inline;">
                    <div class="input-group" style="display:table;">
                        <input class="form-control" name="search" placeholder="Search ..." autocomplete="off" autofocus="autofocus" type="text">
                        <span class=" btn btn-danger input-group-addon" style="width:1%;">
                            <span class="glyphicon glyphicon-search"></span>
                        </span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</nav>

<section>
    <div ui-view></div>
</section>
