<center>
    <div class="jumbotron">
        <img class=" img-responsive img-title" src="../static/media/img/logo/logo2.png"></div>

    <div id="wrapper" class="clear">
        <div class="full-red">
            <h2 class="title"><font color="white"> All Posts </font></h2></div>
        <p class="pad"></p>

        <span class="title"> <font size="5px">Recently Added </font></span>

        <center>
            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="./image/Crying-Jordan-North-Carolina-Duke.jpg" alt="" style="height:400px;">
                        <div class="caption">
                            <h3>RIP North Carolina</h3>
                            <p>Hoop Fan</p>
                            <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> </div>
                            <div class="align-center">2 <i class="fa fa-comments"></i></div>
                            <div class="align-right">4/05/16</div>
                            <div style="clear: both;"></div>
                            <p></p>
                            <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="./image/union-oyster-house-boston.jpg" alt="" style="height:400px;">
                        <div class="caption">
                            <h3>Is Union Oyster House a good place to go?</h3>
                            <p>THEVIPUSER</p>
                            <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> </div>
                            <div class="align-center">4 <i class="fa fa-comments"></i></div>
                            <div class="align-right">4/06/16</div>
                            <div style="clear: both;"></div>
                            <p></p>
                            <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="./image/enhanced-buzz-30111-1411488438-25.jpg" alt="" style="height:400px;">
                        <div class="caption">
                            <h3>.....What can I say.....</h3>
                            <p>Sarah Smith</p>
                            <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i> </div>
                            <div class="align-center">12 <i class="fa fa-comments"></i></div>
                            <div class="align-right">4/06/16</div>
                            <div style="clear: both;"></div>
                            <p></p>
                            <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="./image/2012-books-dec1200.jpg" alt="" style="height:400px;">
                        <div class="caption">
                            <h3>Books I Read</h3>
                            <p>Steve Dennie</p>
                            <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </div>
                            <div class="align-center">1 <i class="fa fa-comments"></i></div>
                            <div class="align-right">4/07/16</div>
                            <div style="clear: both;"></div>
                            <p></p>
                            <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="./image/-9d03e2eeaaaa6e45.jpg" alt="" style="height:400px;">
                        <div class="caption">
                            <h3>Ramen Everyday</h3>
                            <p>Carl Ross</p>
                            <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> </div>
                            <div class="align-center">6 <i class="fa fa-comments"></i></div>
                            <div class="align-right">4/05/16</div>
                            <div style="clear: both;"></div>
                            <p></p>
                            <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                        </div>
                    </div>
                </div>
                <div class="col-sm-6 col-md-4">
                    <div class="thumbnail">
                        <img src="./image/bg-image.jpg" alt="" style="height:400px;">
                        <div class="caption">
                            <h3>April is not Spring....</h3>
                            <p>JasonL</p>
                            <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </div>
                            <div class="align-center">9 <i class="fa fa-comments"></i></div>
                            <div class="align-right">4/04/16</div>
                            <div style="clear: both;"></div>
                            <p></p>
                            <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                        </div>
                    </div>
                </div>
            </div>
    </div>
</center>

