
<!DOCTYPE html>
<html lang="en" ng-app="abcss">
<head>
    <base href="/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Rate My Blank</title>

    <!-- CSS -->
    <link data-require="bootstrap@3.3.6" data-semver="3.3.6" rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css" />
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:400,100,300,500">
    <link href='https://fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dashboard.css">
    <link rel="stylesheet" href="/static/css/login.css">
    <link rel="stylesheet" href="/static/css/angular-toastr.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/font.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ng-tags-input.css">
    <link rel="stylesheet" type="text/css" href="/static/css/ng-tags-input.bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/css/select.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/loading-bar.css">


    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Favicon and touch icons -->
    <link rel="shortcut icon" href="">
</head>
<body >

    <div id="main" class="full">
        <div ui-view class="full">

        </div>
    </div>

    <!-- Javascript -->

    <!-- LIB:js -->
    <script src="/static/js/lib/angular.js"></script>
    <script data-require="jquery@1.11.3" data-semver="2.1.4" src="//code.jquery.com/jquery-2.1.4.js"></script>
    <script data-require="bootstrap@3.3.6" data-semver="3.3.6" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.js"></script>
    <script src="//angular-ui.github.io/bootstrap/ui-bootstrap-tpls-0.14.3.js"></script>
    <script src="/static/js/lib/angular-ui-router.js"></script>
    <script src="/static/js/lib/ng-imgur.min.js"></script>
    <script src="/static/js/lib/angular-toastr.tpls.js"></script>
    <script src="/static/js/lib/angular-animate.min.js"></script>
    <script src="/static/js/lib/angular-sanitize.min.js"></script>
    <script src="/static/js/lib/ngplus-overlay.js"></script>
    <script src="/static/js/lib/particles.min.js"></script>
    <script src="/static/js/lib/ngStorage.min.js"></script>
    <script src="/static/js/lib/ng-tags-input.js"></script>
    <script src="/static/js/lib/select-tpls.min.js"></script>
    <script src="/static/js/lib/loading-bar.min.js"></script>
    <script src="/static/js/lib/moment.js"></script>
    <script src="/static/js/lib/moment-timezone-with-data.min.js"></script>
    <script src="/static/js/lib/jstz.min.js"></script>
    <script src="//cdn.jsdelivr.net/satellizer/0.14.0/satellizer.min.js"></script>


    <!-- app:js -->
    <script src="/static/js/app.module.js"></script>
    <script src="/static/js/app.config.js"></script>
    <script src="/static/js/app.run.js"></script>

    <!-- blocks:js -->
    <script src="/static/js/blocks/exception/exception.module.js"></script>
    <script src="/static/js/blocks/exception/exception-handler.provider.js"></script>
    <script src="/static/js/blocks/exception/exception.js"></script>
    <script src="/static/js/blocks/logger/logger.module.js"></script>
    <script src="/static/js/blocks/logger/logger.js"></script>
    <script src="/static/js/blocks/router/router.module.js"></script>
    <script src="/static/js/blocks/router/routerhelper.js"></script>
    <!-- core:js -->
    <script src="/static/js/core/core.module.js"></script>
    <script src="/static/js/core/config.js"></script>
    <script src="/static/js/core/dataservice.js"></script>
    <script src="/static/js/core/storageservice.js"></script>
    <script src="/static/js/core/authservice.js"></script>
    <script src="/static/js/core/authinterceptor.js"></script>
    <script src="/static/js/core/directives.js"></script>
    <script src="/static/js/core/filters.js"></script>
    <script src="/static/js/core/tzservice.js"></script>


    <!-- login:js -->
    <script src="/static/js/login/login.module.js"></script>
    <script src="/static/js/login/login.controller.js"></script>
    <script src="/static/js/login/config.route.js"></script>

    <!-- dashboard:js -->
    <script src="/static/js/dashboard/dashboard.module.js"></script>
    <script src="/static/js/dashboard/dashboard.controller.js"></script>
    <script src="/static/js/dashboard/dashboard.home.controller.js"></script>
    <script src="/static/js/dashboard/dashboard.post.controller.js"></script>
    <script src="/static/js/dashboard/dashboard.profile.controller.js"></script>
    <script src="/static/js/dashboard/dashboard.create.controller.js"></script>
    <script src="/static/js/dashboard/dashboard.search.controller.js"></script>
    <script src="/static/js/dashboard/config.route.js"></script>
</body>


</html>
