<p class="pad"> &nbsp;</p>
<section>
    <div id="wrapper" class="clear">
        <div class="container">
            <div class="row">
            <div class="col-lg-8">
            <h1 class="title">{{cm.post.title}}</h1>
            <p class="lead">
                by <a href="#">{{cm.post.user.name}}</a>
            </p>
                <hr>
                <div class="align-left"><span class="glyphicon glyphicon-time"></span> Posted on August 24, 2013 at 9:00 PM</div>
                <div class="align-right"><i class="fa fa-map-marker fa-lg"></i> San Francisco, California</div>
             <div style="clear: both;"></div>
                 <hr>
                <img ng-src="{{cm.post.url}}" class="img-responsive">
                <hr>
                    <center>
                         <div class="post-star">
                        <div class="align-left">
                            <i ng-repeat="i in cm.repeat(cm.rating) track by $index" class="fa fa-star"></i>
                            <i ng-repeat="i in cm.repeat(cm.rating_max - cm.rating) track by $index" class="fa fa-star-o"></i>
                        </div>
                         <div class="align-center">
                            121 <i class="fa fa-comments"></i>
                        </div>
                        <div class="align-right">4/02/16</div>
                <div style="clear: both;"></div>
                        </div>
                    </center>
                        <hr>
                            <p class="lead">{{cm.post.description}}</p>
                      <hr>
                        
                </div>
                 <div class="col-md-4">
                   
                <div class="well">
                    <center>
                            <h5>Leave a comment and rate:</h5>
                                <form role="form">
                                    <div class="row">
                                        <div class="form-group">
                                            <textarea class="form-control" rows="2"></textarea>
                                        </div>
                                    <div class="form-group col-lg-7"></div>
                                    </div>
                                    <div class="row">
                                        &nbsp;&nbsp;&nbsp;&nbsp;
                                            <div starrating rating-value="cm.my_rating" max="cm.rating_max" on-rating-selected="cm.getSelectedRating(rating)"></div>
                                    </div>
                                    <br/>
                                    <button type="submit" class="btn btn-danger">Submit</button>
                                </form>
                    </center>
                        </div>
                        <div class="well" style="overflow-y: scroll; height:450px;">
                             <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jake Satchel
                            <small>August 25, 2014 at 9:30 PM</small>
                            <small>Rated: <i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star-half-o"></i><i id="star5-empty" class="fa fa-star-o"></i> </small>
                        </h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
                        <a><small>Read More</small></a>
                    </div>
                </div>
              

                <!-- Comment -->
                <div class="media" >
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Cloe Dash
                            <small>August 25, 2014 at 9:30 PM</small>
                            <small>Rated: <i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star-half-o"></i><i id="star5-empty" class="fa fa-star-o"></i> </small>
                        </h4>
                        Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate.
                        <!-- Nested Comment -->
                        <div class="media">
                            <a class="pull-left" href="#">
                                <img class="media-object" src="http://placehold.it/64x64" alt="">
                            </a>
                            <div class="media-body">
                                <h4 class="media-heading">Jane Sue
                                    <small>August 25, 2014 at 9:30 PM</small>
                                    <small>Rated: <i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star-half-o"></i><i id="star5-empty" class="fa fa-star-o"></i> </small>
                                </h4>
                                Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo. Cras purus odio, vestibulum in vulputate at.
                            </div>
                        </div>
                        <!-- End Nested Comment -->
                    </div>
                </div>
                    
                      <div class="media">
                    <a class="pull-left" href="#">
                        <img class="media-object" src="http://placehold.it/64x64" alt="">
                    </a>
                    <div class="media-body">
                        <h4 class="media-heading">Jake Satchel
                            <small>August 25, 2014 at 9:30 PM</small>
                            <small>Rated: <i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star"></i><i id="star5-empty" class="fa fa-star-half-o"></i><i id="star5-empty" class="fa fa-star-o"></i> </small>
                        </h4>
                        <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel metus scelerisque ante sollicitudin commodo.</p>
                        <a><small>Read More</small></a>
                    </div>
                </div>


                </div>

            </div>

            </div>
        </div>
    </div>
</section>
