<p class="pad"> &nbsp;</p>
     <section>
   

        <div class="container-fluid">
             <p class="pad"> &nbsp;</p>
         <div id="wrapper2" class="clear">
  <div class="row" >

    
    <div class="col-sm-6 col-md-4 col-sm-offset-0 col-md-offset-0" style="background-color:dimgray; border-radius: 20px;">
        <p class="pad"></p>

            <!-- Split button -->
        <center>

  <button type="button" class=" img-rounded btn btn-block btn-info" ui-sref="dashboard.create">
    <i class="fa fa-plus fa-lg"></i> &nbsp; Create Post &nbsp;
  </button>

            
            
  

        </center>
        <p class="pad"></p>
    <div class="row">
     
    <div class="thumbnail">
     <img class="img-rounded" height="45px" width="45px"alt="Profile Image" ng-src="{{vm.profile_picture}}">
      <div class="caption">
          <center>
        <h3> {{vm.name}} </h3>
              </center>
          
      </div>
    
    </div>
            
    <ul class="nav nav-pills nav-stacked red">
  <li class="active"><a href="#"><i class="fa fa-heart"></i> My Posts</a></li>
</ul>
         
  </div>
        
        
        
      
      </div>
    
    <div class="col-sm-5 col-sm-offset-1 col-md-7 col-md-offset-1" style="background-color:#a24544; border-radius: 20px;">
        <p> &nbsp;</p>
        <p class="line-gray">My Posts</p>
           
        <span class= "title white"> <font size="5px">Recently Added </font></span>
          <center>
        <div class="row">
                <span ng-repeat="post in cm.postsdata">
                <span ng-if="post.user.name==cm.name">
                <div class="col-sm-4 col-md-6">
                    <div class="thumbnail">
                        <div ng-if="!!post.url">
                            <img ng-src="{{post.url}}" alt="" style="height:400px;">
                        </div>
                        <div class="caption">
                            <h3>{{post.title}}</h3>
                            <p>{{post.user.name}}</p>
                            <div class="align-left">
                                <i ng-repeat="i in cm.repeat(post.rating) track by $index" class="fa fa-star"></i>
                                <i ng-repeat="i in cm.repeat(cm.rating_max - post.rating) track by $index" class="fa fa-star-o"></i>
                            </div>
                            <div class="align-right">{{post.created| moment}}</div>
                            <div style="clear: both;"></div>
                            <p></p>
                            <p><a ui-sref="dashboard.post({postid: post.pid})" class="btn btn-default btn-block" role="button">See More</a> </p>
                        </div>
                    </div>
                </div>
            </span>
            </span>
            </div>
        </center>
      </div>
             </div>
            </div>
         </div>
</section>

                                
    
        