<p class="pad"> &nbsp;</p>
     <section>
    
    <div id="wrapper" class="clear ">
        <div class="container-fluid">
   
  <div class="row" >
    
    <div class="col-sm-6 col-md-4" style="background-color:dimgray; border-radius: 20px;">
        <p class="pad"></p>
        <!-- Create Post Modal -->
<div id="CreatePost" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title line-gray">Create a New Post</h4>
      </div>
      <div class="modal-body">
        <form role="form">
          <div class="form-group">
            <label for="Post-Title">Title</label>
            <input type="text" class="form-control" id="Post-Title">
          </div>
            <div class="form-group">
            <label for="Post-Tags">Tags</label>
            <input type="text" class="form-control" id="Post-Tags">
          </div>
          <div class="form-group">
              <label for="comment">Description:</label>
            <textarea class="form-control" rows="5" id="comment"></textarea>
          </div>
          <div >
              <button type="submit" class="btn btn-danger"><i class="fa fa-camera"></i></button>
              <button type="submit" class="btn btn-danger"><i class="fa fa-file-text"></i></button>
              <button type="submit" class="btn btn-danger"><i class="fa fa-file-pdf-o"></i></button>
            
          </div>
            <p></p>
          <button type="submit" class="btn btn-default">Submit</button>
          </form>
          
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        
      </div>
    </div>

  </div>
</div>
            <!-- Split button -->
        <center>
<div class="btn-group img-rounded">
  <button type="button" class="btn btn-info" data-toggle="modal" data-target="#CreatePost">Create Post</button>
  <button type="button" class="btn btn-danger"  aria-haspopup="true" aria-expanded="false" data-toggle="modal" data-target="#CreatePost">
    <i class="fa fa-plus fa-lg"></i>
  </button>
</div>
            
            
        <div class="btn-group button-pad-left">
  <button type="button" class="btn btn-info">Edit Profile</button>
  <button type="button" class="btn btn-danger"  aria-haspopup="true" aria-expanded="false">
   <i class="fa fa-pencil fa-lg"></i>
  </button>
</div>
        </center>
        <p class="pad"></p>
        <div class="row">
     
    <div class="thumbnail">
      <img class="img-rounded" src="./image/SarahSmith.jpeg" alt="...">
      <div class="caption">
          <center>
        <h3>Sarah Smith</h3>
              <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eros sem, laoreet vitae lobortis ac, ullamcorper non diam. Nulla ac velit lectus.</p>
              </center>
              <p><i class="fa fa-map-marker fa-lg"></i> &nbsp;San Francisco, California</p>
          
      </div>
    
    </div>
            
    <ul class="nav nav-pills nav-stacked red">
  <li class="active"><a href="#"><i class="fa fa-clipboard"></i> My Posts</a></li>
  <li><a href="#"><i class="fa fa-comments"></i> Commented Posts</a></li>
  <li><a href="#"> <i class="fa fa-heart"></i> Favorited Posts</a></li>
  <li><a href="#"><i class="fa fa-users"></i> Followers</a></li>
</ul>
         
  </div>
        
        
        
      
      </div>
    
    <div class="col-sm-5 col-sm-offset-0 col-md-7 col-md-offset-1" style="background-color:slategray; border-radius: 20px;">
        <p> &nbsp;</p>
        <p class="line-red">My Posts</p>
            <div class="btn-group">
  <button type="button" class="btn btn-default"><i class="fa fa-filter"></i> Filter</button>
  <button type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <span class="caret"></span>
    <span class="sr-only">Toggle Dropdown</span>
  </button>
  <ul class="dropdown-menu">
    <li><a href="#">Most Popular</a></li>
    <li><a href="#">Most Comments</a></li>
    <li><a href="#">Recently Added</a></li>
  </ul>
        </div>
        <span class= "title2 white"> Recently Added</span>
          <center>
         <nav>
              <ul class="pager">
                <li class="previous disabled"><a href="#"><span aria-hidden="true">&larr;</span> Previous</a></li>
                <li><a href="./index.html">1</a></li>
                <li><a href="2/index.html">2</a></li>
                <li class="next"><a href="2/index.html">Next <span aria-hidden="true">&rarr;</span></a></li>
              </ul>
          </nav>
        <div class="row">
                              <div class="col-sm-4 col-md-6">
                                 <div class="thumbnail">
                                    <img src="./image/41524021-Outfit-of-traveler-student-teenager-young-woman-or-guy-Overhead-of-essentials-for-modern-young-perso-Stock-Photo.jpg" alt="" style="height:400px;">
                                    <div class="caption">
                                       <h3>How Is My Outfit Today?</h3>
                                        <p>Sarah Smith</p>
                                          <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-half-o"></i> </div>
                                        <div class="align-center">121 <i class="fa fa-comments"></i></div>
                                        <div class="align-right">4/02/16</div>
                                        <div style="clear: both;"></div>
                                        <p></p>
                                       <p><a href="./post.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-4 col-md-6">
                                  <div class="thumbnail">
                                    <img src="./image/-9d03e2eeaaaa6e45.jpg" alt=""  style="height:400px;">
                                    <div class="caption">
                                       <h3>Ramen Everyday</h3>
                                        <p>Carl Ross</p>
                                          <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i> </div>
                                        <div class="align-center">6 <i class="fa fa-comments"></i></div>
                                        <div class="align-right">4/05/16</div>
                                        <div style="clear: both;"></div>
                                        <p></p>
                                       <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                                    </div>
                                 </div>
                              </div>
                              <div class="col-sm-4 col-md-6">
                                  <div class="thumbnail">
                                    <img src="./image/bg-image.jpg" alt=""  style="height:400px;">
                                    <div class="caption">
                                       <h3>April is not Spring....</h3>
                                        <p>JasonL</p>
                                          <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </div>
                                        <div class="align-center">9 <i class="fa fa-comments"></i></div>
                                        <div class="align-right">4/04/16</div>
                                        <div style="clear: both;"></div>
                                        <p></p>
                                       <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                                    </div>
                                 </div>
                              </div>
            <div class="col-sm-4 col-md-6">
                                  <div class="thumbnail">
                                    <img src="./image/bg-image.jpg" alt=""  style="height:400px;">
                                    <div class="caption">
                                       <h3>April is not Spring....</h3>
                                        <p>JasonL</p>
                                          <div class="align-left"><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i><i class="fa fa-star"></i> </div>
                                        <div class="align-center">9 <i class="fa fa-comments"></i></div>
                                        <div class="align-right">4/04/16</div>
                                        <div style="clear: both;"></div>
                                        <p></p>
                                       <p><a href="Interview/h1.html" class="btn btn-default btn-block" role="button">See More</a> </p>
                                    </div>
                                 </div>
                              </div>
        </div>
                        
      
        </center>
      </div>
  </div>
</div>
        
    </div>

         
       
 
    </section>