.carousel-control.left, .carousel-control.right {
    background-image: none
}

.title{
    font-family: 'Michroma', sans-serif;
}
.align-left{
    text-align: left !important;
    float: left;
   
}
.align-right{
    text-align: right !important;
    float: right;

}
.text-center{
    text-align: center!important;
    float:inherit;
}
.line-div{
    display: block;
}
.navbar .profile-image{
    margin: -10px 0px;
    height: 40px;
}